.DS_Store
node_modules
/dist
/src/assets/img/mv
/src/assets/img/scenery
/src/assets/img/animals
/src/assets/img/games
/src/assets/img/life

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
