/* 滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: relative;
 }
 
 /*滚动条里面轨道*/
 ::-webkit-scrollbar-track {
    background: #f6f6f6;
    /* border-radius: 2px; */
 }
 
 /*滚动条里面小方块*/
 ::-webkit-scrollbar-thumb {
    background: #dddcdc;
    /* border-radius: 5px; */
 }
 
 ::-webkit-scrollbar-thumb:hover {
    background:#3bc66f;
 }
 
 ::-webkit-scrollbar-corner {
    background: #f6f6f6;
 }
 
 @keyframes scrollColorChange {
    0%{
       filter: hue-rotate(0);
    }
    100%{
       filter: hue-rotate(360deg);
    }
 }
 